<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1066177766191-2d78mbjkk4vahnba1pmh9jkjq44qc76d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1066177766191-2d78mbjkk4vahnba1pmh9jkjq44qc76d</string>
	<key>API_KEY</key>
	<string>AIzaSyDGBdGFoamlAPo8jghZvAk-cn2YJwwCMNQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1066177766191</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dpslink.TouchIDPushTest</string>
	<key>PROJECT_ID</key>
	<string>fir-push-demo-941cc</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-push-demo-941cc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1066177766191:ios:5af78cbffccde2fe</string>
	<key>DATABASE_URL</key>
	<string>https://fir-push-demo-941cc.firebaseio.com</string>
</dict>
</plist>